body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.clear {
    clear: both;
}

/*.portada {
    width: 80%;
    #margin-right: 40%;
}

content_portada {
    text-align: center;
}*/
/*
.alinear_der{
    text-align:right;
}*/

.flex_der{
    display: flex;
    justify-content:space-between;
}