body {
    font-family: 'Lato';
}
/*.fa-btn {
    margin-right: 6px;
}*/

/*#content {
  display: flex;
  align-items: center;
  justify-content: center;
  #display: table;
  #vertical-align: middle;
  #text-align: center;
  #font-size: 150%;
  color: white;
  font-weight: bold;
}*/
.clear {
    clear: both;
}
.flex_der{
    display: flex;
    justify-content:space-between;
}
@font-face{ 
    font-family: 'MoonBold';
    src: url('../fonts/Moon/MoonBold.otf');
}
.fuente{
  font-family: "MoonBold";
}